
.assemblerbox {
    width: auto;
    height: 60vh;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: aliceblue;
  
    margin-bottom: 300px;
    display: inline-flex;
    white-space: nowrap;
    
}
.codebox {
    width: auto;
    height:50px;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color: white;
    display: block;

    white-space: nowrap;


}

.codebox:hover {

    background-color: gainsboro;



}



.number {
    width: 45px;
    height: 100%;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    display:inline-block;
    font-size:30px;
   
}
.binary{
    width: 220px;
    height: 100%;
  
    border-width: 1px;
    border-color: black;
    border-style: inset;
    display:inline-block;
    font-size:30px;
}
.hex {
    width: 100px;
    height: 100%;
  
    border-width: 1px;
    border-color: black;
    border-style: inset;
    display:inline-block;
    font-size:30px;
}  
#codes {
    width:auto;

  
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color:rgb(254, 245, 231);
    display:inline-flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
   
    height: 100%;
    
}
#assemble {
    width: 800px;
    height: 100%;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    display:inline-table;
justify-content: center;
   
}

#blocks {
    width: 400px;
    height: 100%;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color:gainsboro;
    display:block;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    
}
#codehead{
    display:flex;
   justify-content: space-between;
   
}

#codeaddbutton{
    width: auto;
    height:50px;
  

    display: inline-flex;
 font-size:20px;
    white-space: nowrap;
    margin: 20px;
justify-content: space-between;
}
#copybutton{
    width: auto;
    height:50px;
    

    display: inline-flex;
 font-size:20px;
    white-space: nowrap;
    margin: 20px;
justify-content: space-between;
}

#addit{
    height:50px;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color: LightGreen;
    display: inline-flex;

}
#binarycopy{
    height:50px;
    width: 120px;
   
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color: rgb(177, 196, 250);
    display: block;
    white-space: normal;

}

#hexcopy{
    height:50px;
    width: 120px;
    
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color:  rgb(177, 196, 250);
    display: block;

}

#addit:hover{

    background-color: rgb(73, 218, 73);
}

#binarycopy:hover,#hexcopy:hover{

    background-color: rgb(116, 146, 228);
}

#deleteit{
    height:50px;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color: red;
    display: inline-flex;

}

#deleteit:hover{

    background-color: rgb(185, 0, 0);
}

#codetag{
    margin:20px;

}

#coderesult{
    margin:20px;
   
}

#maincode{
    margin:20px;
    display: flex;

}

#maincode span{
    width: 50px;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color: white;
}

#maincode span:hover{
    background-color: gainsboro;

}

.codeselecter{
    margin:20px;
    display: flex;
}

.firstselecter{
    height: 50px;
    width: 50px;

    font-size: 15px;
    white-space: normal;
    
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color: gold;


}

.firstselecter:hover{

    background-color: rgb(219, 186, 0);

}

.secondselecter{

    width: 305px;
    height: 50px;
    
    white-space: normal;
    
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color: plum;
    margin-left: 52px;

}

.secondselecter:hover{

    background-color: rgb(188, 130, 188);

}



.thirdselecter:hover{

    background-color: rgb(146, 220, 35);

}

.fourthselecter{

    width: 150px;
    height: 50px;
    
    white-space: normal;
    font-size: 20px;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color:skyblue;
   

}

.fourthselecter:hover{

    background-color: rgb(118, 190, 219);

}

#selectbox1{

    height: 100px;
    width: 400px;
    border-width: 1px;
    display: flex;
    border-color: black;
    border-style: inset;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgb(255, 250, 220);

}

#selectbox3{

    height: 350px;
    width: 400px;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    border-color: black;
    border-style: inset;
    text-align: left;
    
    background-color:rgb(204, 249, 136);

}
#selectbox3 .thirdselecter {

    margin-left: 75px;


}

#selectbox3 div{

margin-left: 50px;

}

#selectbox2{

    height: 2150px;
    width: 400px;
    border-width: 1px;
    display: table;
    border-color: black;
    border-style: inset;
    background-color:rgb(249, 224, 249);
    
}

#selectbox4{

    height: 300px;
    width: 400px;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    border-color: black;
    border-style: inset;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgb(172, 229, 252);
    
}

#selectbox2 div{

    margin-top: 25px;
    
}

.thirdselecter{

    width: 254px;

    height: 50px;
    white-space: normal;
    
    border-width: 1px;
    border-color: black;
    border-style: inset;
    background-color:greenyellow;
   

}